
  .login-btn {
    width: -webkit-fill-available;
    margin-bottom: 10px;
  }

  .register-link {
    float: right;
  }

  .form-field {
    width: 30%;
  }

  .login-content {
    text-align: center;
    margin-top: 5%;
  }

  .card-content {
    display: inline-block;
    /* position: relative; */
    width: 32%;
    /* padding: 20px; */
  }

  .mat-form-field {
    display: unset;
    position: relative;
    text-align: left;
}
