.form-field {
    width: 100%;
}

.form-radio {
    margin-right: 10px;
}

.success-status {
    color: green;
}

.failed-status {
    color: red;
}

.recharge-btn {
    margin-bottom: 1%;
}

.dialog-content {
    max-height: none !important;
}