<mat-card class="main-card">
    <h5>Mobile Recharge</h5>
    <hr>

    <button class="btn btn-primary recharge-btn" (click)="openReachargeDialog()">Recharge</button>

    <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="MobileNumber">
            <mat-header-cell *matHeaderCellDef> Mobile Number </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.MobileNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="RechargeType">
            <mat-header-cell *matHeaderCellDef> Recharge Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.RechargeType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ServiceProvider">
            <mat-header-cell *matHeaderCellDef> Service Provider </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ServiceProvider}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.Amount | currency}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="PaymentMode">
            <mat-header-cell *matHeaderCellDef> Payment Mode </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.PaymentMode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let row" [ngClass]="row.Status == 'Success' ? 'success-status' : 'failed-status'">
                {{row.Status}}
            </mat-cell>
        </ng-container>

        <!-- Header and Row Declarations -->
        <mat-header-row *matHeaderRowDef="['MobileNumber', 'RechargeType', 'ServiceProvider', 'Amount', 'PaymentMode', 'Status']">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: ['MobileNumber', 'RechargeType', 'ServiceProvider', 'Amount', 'PaymentMode', 'Status']">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
</mat-card>