<form (submit)="onSubmit()">
    <div class="form-group">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentModel.PaymentModeId" name="PaymentModeId">
            <mat-radio-button *ngFor="let mode of paymentModes" class="form-radio" [value]="mode.Id">
                {{ mode.Name }}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="form-group">
        <mat-form-field class="form-field">
            <mat-label>Service Provider</mat-label>
            <mat-select [(ngModel)]="rechargeModel.ServiceProviderId" name="ServiceProviderId">
                <mat-option *ngFor="let provider of serviceProviders" [value]="provider.Id">
                    {{ provider.Name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Amount</mat-label>
            <input matInput placeholder="Amount" name="Amount" [(ngModel)]="paymentModel.Amount" autocomplete="off" autofocus
                required>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="form-field">
            <mat-label>Recharge Type</mat-label>
            <mat-select [(ngModel)]="rechargeModel.MobileRechargeTypeId" name="MobileRechargeTypeId">
                <mat-option *ngFor="let type of rechargeTypes" [value]="type.Id">
                    {{ type.Name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary">Recharge</button>
    <button type="button" class="btn btn-secondary">Cancel</button>
</form>