

  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side" [opened]="currentUser != null">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content>
        <app-toolbar [sidenav-event]="sidenav"></app-toolbar>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


  <!-- <mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened position="start">
      left panel
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        My Application
        <span class="toolbar-spacer"></span>
        My Account
      </mat-toolbar>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container> -->